.table-responsive
  %table.table.table-striped.table-bordered.table-hover

    %tbody
      - @stories.each_with_index do |story, index|
        %tr
          %td
            = index + 1
            \.
          %td
            %p
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
              = link_to story.title, story.link
              %em
                (
                = truncate(story.link, length: 60)
                )
            %p
              by
              = link_to story.email, "mailto:#{story.email}"
              = distance_of_time_in_words_to_now(story.created_at)
              ago
